
body
{
	background-image: url("../images/bg4.jpg");
	background-position: 50% 20%;
	background-repeat: repeat;
	color: white;
	height: 100vh;
}

p{
	font-family:'Montaga', serif;
	color: white;
}

main
{
	display: flex;
	justify-content: space-around;
}

.uk-animation-kenburns {
    animation-name: uk-scale-kenburns;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.gameDiv
{
	text-align: center;
	margin-top: 120px;
	position: relative;
	margin-left: 50px;
	left: 50px;

}

.answerDiv
{
	position: relative;
	right: 100px;
	margin-top: 90px;
	text-align: center;
}

#imgDiv
{
}


#imgTag
{
	transition: .5s ease;
	margin-top: 30px;
	width: 350px;
	height: 350px;
	margin: 0px;

}

 /*#imgTag:hover{
    transform: scale(1.1);*/

 

#answerTop
{
	letter-spacing: 2px;
	color: white;
	font-family: !'Montaga', serif;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 60px;
}

iframe
{

}

